body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #234050;
}

.platzi {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 40px auto;
    /* background: red; */
    transform: rotate(45deg);

    animation-name: platzi-base;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

.platzi-left {
    width: 80%;
    height: 65%;
    border: 20px solid #97c93e;
    border-bottom: none;
    border-radius: 20px 20px 0 0 ;
    box-sizing: border-box;
    position: relative;
    top: 1px;

    animation-name: platzi-left;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.platzi-right {
    width: 100%;
    height: 35%;
    border: 20px solid #97c93e;
    border-top: none;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
}

/* Esto hace pasar de trasnparente  a ponerse en la patalla para luego rodar */
@keyframes platzi-base {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    30% {
        opacity: 1;
        transform: rotate(405deg);
    }
    80% {
        opacity: 1;
        transform: rotate(405deg);
    }
    100% {
        opacity: 0;
        transform: rotate(0deg);
    }
}

@keyframes platzi-left {

}